

body{
    color: white;
    background-color: darkslategrey;
    font-family: Arial, "times", "serif";
    margin: 20px;
    padding: 20px;
    border: 20px;
}

#background{
    background-position: right;
    background-size: 2000px;
    margin-left: 30px;
}

#forside {
    right: 0;
    position: relative;
    margin-bottom: 15px;
}

#forside,
#background,
.image img {
    width: 100%;
    max-width: 800px; /* eller passende max bredde */
    height: auto;
}

.form {
    width: 40%; /* Gør formularen lidt mindre */
    background-color: #222; /* Mørk baggrund */
    padding: 20px;
    border-radius: 10px;
}

.form input,
.form textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    margin-left: auto; /* Centrerer dem til venstre */
    margin-right: auto; /* Centrerer dem til højre */
}

.form button {
    background-color: #ffcc00;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-size: 20px;
    line-height: 1.4;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

ul{
    color: white;
    font-size: 20px;
    line-height: 1.4;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    .form input,
    .form textarea {
        width: 100%;
    }
}

a{
    color: white;
    font-size: 20px;
}

a:hover{
    color: lightblue;
    font-size: 24px;
}

.container {
    display: flex; /*Placerer elementerne side om side*/
    flex-wrap: wrap; /* ← gør at indholdet hopper ned på næste linje */
    align-items: center; /* Justerer elementerne lodret */
    gap: 20px; /* Laver mellemrum mellem billedet og teksten */
}

/*/////////////////MENU-BAR/////////////////*/

/* Farve på baggrund af top af navigations bar */
.topnav {
    background-color: cornflowerblue;
    overflow: hidden;

}

/* Style af links i navigations bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, "times", "serif";
    font-weight: bold;
}

/* Farve af links på hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    opacity: 60%;
}

/* Farve til det aktive link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

* {
    box-sizing: border-box;
}

/*----------------------------------------*/

/*En menu af links med hover-effekter
  Indhold i flere kolonner (uden at bruge en tabel!)
Brug af margin, padding, border og styling af tekst
