
* {
    box-sizing: border-box;
}

@media (min-width: 1px) and (max-width: 768px) {
    body {
        color: white;
        background-color: darkslategrey;
        font-family: Arial, "times", "serif";
        margin: 3px;
        padding: 20px;
        border: 20px;
        }

    .form {
        background-color: #222; /* Mørk baggrund */
        padding: 20px;
        border-radius: 10px;
    }

    .form input,
    .form textarea {
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        border: none;
        border-radius: 5px;
        margin-left: auto; /* Centrerer dem til venstre */
        margin-right: auto; /* Centrerer dem til højre */
    }

    .form p{
        margin-top: 3px;
    }

    .image img{
        width: 100%;
    }

    a {
        color: white;
    }

    a:hover {
        color: lightblue;
        font-size: 24px;
    }

    #Lukas {
        margin: 10px;
    }

    .container {
        display: flex; /*Placerer elementerne side om side*/
        flex-wrap: wrap; /* ← gør at indholdet hopper ned på næste linje */
        align-items: flex-start; /* Justerer elementerne lodret */
        gap: 20px; /* Laver mellemrum mellem billedet og teksten */
    }
}


@media (min-width: 768px) {
    body {
        color: white;
        background-color: darkslategrey;
        font-family: Arial, "times", "serif";
        margin: 20px;
        padding: 20px;
        border: 20px;
    }

    .form {
        width: 40%; /* Gør formularen lidt mindre */
        background-color: #222; /* Mørk baggrund */
        padding: 20px;
        border-radius: 10px;
    }

    .form input,
    .form textarea {
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        border: none;
        border-radius: 5px;
        margin-left: auto; /* Centrerer dem til venstre */
        margin-right: auto; /* Centrerer dem til højre */
    }

    .form button {
        background-color: #ffcc00;
        color: black;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .image img{
        width: 100%;
    }
    p {
        font-size: 20px;
        line-height: 1.4;
    }

    .Overskrift {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    a {
        color: white;
        font-size: 20px;
    }

    a:hover {
        color: lightblue;
        font-size: 24px;
    }

    .container {
        display: flex; /*Placerer elementerne side om side*/
        flex-wrap: wrap; /* ← gør at indholdet hopper ned på næste linje */
        align-items: flex-start; /* Justerer elementerne lodret */
        gap: 20px; /* Laver mellemrum mellem billedet og teksten */
    }
}